/* DOCUMENT */
html, body
{
    font-family: Oswald;
    font-size: 16px;
    font-size: 100%;
    font-size: 1em;

    line-height: 1.2em;

    color: #ededed;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #34495e;
    background-image: url('../images/body-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

*
{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #4DDED0;
}

label{
    display: block;
}

input{
    margin-bottom: 1em;
    width: 50%;
    padding: 0.3em;
    line-height: 1.3em;
    border: 0;
    font-size: 1.5em;
}
/* CONTENT */

.container{
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 0%;
}

.admin-box{
    width: 400px;
    height: auto;
    padding: 2em;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}
.admin-box label{
    display: block;
    margin-bottom: 0.3em;
}

.admin-box input, 
.admin-box textarea, 
.admin-box select{
    border:0;
    outline: 0;
    padding: 0.4em;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    width: 100%;
}

.admin-box h3{
    font-size: 2em;
    text-align: center;
}

.admin-box .activate{
    text-align: center;
}

/* ADMIN */
.admin-pannel{
    width: 900px;
    height: auto;
    padding: 2em;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}

.dashboard{
    width: 70%;
}

.admin-menu{
    outline: 0;
    width: 20%;
    padding:0.5em;
    border: 1px solid #555;
}

.admin-menu ul{
    padding: 0;
    margin: 0;
}

.admin-menu ul li{
    list-style-type: none;
    display: block;
}

.admin-menu ul li a{
    display: block;
    padding: 0.3em;
}

.admin-menu ul li a:hover{
    color: #fff;
}

.admin-menu, .dashboard{
    display: inline-block;
    float: left;
}

.btns{
    padding: 0;
    margin: 0;
}
.btns li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

.btns a, button{
    display: block;
    padding: 15px;
}

/* PANNELS */
.pannel{
    display: block;
    padding: 10px;
    margin: 0.5em auto;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.panel-warning{
    background-color: #f39c12!important;
    color: #fff!important;
}

.panel-success{
    background-color: green!important;
    color: #fff!important;
}

/* FOOTER */
footer
{
    font-size: 12px;
    text-align: center;

    width: 800px;
    margin: 2em auto;
    padding: 10px 30px;
}